#container {
  width: 60px;
  height: 60px;
}

#burger {
  cursor: pointer;
  opacity: 0;
  animation: fadein 0.2s ease 1s forwards;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

#burger .bun {
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  height: 10%;
  width: 70%;
  transform-origin: 50% 50%;
  transition: top 0.2s ease 0.2s, transform 0.2s ease;
}
#burger .bun:before,
#burger .bun:after {
  content: '';
  display: block;
  height: 40%;
  background: white;
  position: absolute;
  top: 50%;
  transform: translate(0%, -45%);
  transition: background 0.2s ease, box-shadow 0.2s ease;
}
#burger .bun:before {
  left: 0;
  width: calc(-1px + 75%);
  border-radius: 10px 0px 0px 10px;
}
#burger .bun:after {
  right: 0;
  width: calc(-1px + 25%);
}

#burger .bun.top {
  top: 40%;
}
#burger .bun.bottom {
  top: 60%;
}

#burger.active .bun {
  border-radius: 3px;
  top: 50%;
  transition: top 0.4s ease, transform 0.4s ease;
}
#burger.active .bun.top {
  transform: translate(-50%, -50%) rotate(-225deg);
}
#burger.active .bun.bottom {
  transform: translate(-50%, -50%) rotate(405deg);
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
