html,
body {
  background: #36383a;
}

@font-face {
  font-family: 'DINCondensed';
  src: local('DINCondensed'),
    url('./fonts/DINCondensedWeb.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'JediFont';
  src: local('JediFont'), url('./fonts/Strjmono.ttf') format('truetype');
  font-weight: normal;
}
